{
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        ["dynamic-import-node", { "noInterop": true }]
      ],
      "presets": [
        "jest",
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
