<h2> Hello {{ user.name }} </h2>
<p>
  You now have an account at OpenMonkeyMind. Please follow the link below to complete your
  registration by setting a password:
</p>
<p><a href="{{ request.url() }}">Password link</a></p>
<p>After you have set a password, you can use it to log in to the system using this email address
  as your username</p>
