<p>Hello {{ user.name }}</p>
<p>
  This email is sent to notify you that your password for OpenMonkeyMind was just changed by someone.
  If this wasn't you, please contact a system administrator as soon as you can.
</p>
