<p>Hello {{ user.name }}</p>
<p>
  We have received a request to reset your password. If this wasn't sent by you, please disregard
  this email. Otherwise, you can reset your password using the following link:
</p>
<p>
  <a href="{{ baseURL + '/password/reset?' + tokenString }}">
    {{ baseURL + '/password/reset?' + tokenString }}
  </a>
</p>
<p style="font-style:italic">This link is only valid for <strong>24 hours</strong>,
  so please reset your password within this period.</p>